@charset "UTF-8";

@import
	url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css')
	;

.banner h1, .banner h2 .banner form {
	font-family: 'NanumSquareRound', sans-serif !important;
	font-weight: bolder !important;
}

.banner h1 {
	margin-top: 20px;
}

.banner {
	margin-top: 120px;
}

body {
	margin-top: 20px;
}

label {
	font-size: 11px;
	font-weight: bolder;
	white-space: nowrap;
	margin-right: 40px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.option {
	display: inline-block;
	width: 300px;
	margin-left: 140px;
}
/* -------------------------------------------------------------- Box Product -------------------------------------------------------------- */
.box-product-outer {
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 420px;
}

.box-product-outer:hover {
	outline: 1px solid #aaa;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.tab-content .box-product-outer {
	margin-bottom: 0
}

.box-product-slider-outer {
	padding: 10px
}

.box-product .img-wrapper {
	position: relative;
	overflow: hidden
}

.box-product .img-wrapper>:first-child {
	position: relative;
	display: block
}

.box-product .img-wrapper>a>img {
	width: 100%
}

.box-product .img-wrapper .tags {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	overflow: visible;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: inherit;
	border-width: 0;
	background-color: transparent;
	direction: rtl
}

.box-product .img-wrapper .tags-left {
	left: 0;
	direction: ltr
}

.box-product .img-wrapper .tags>.label-tags {
	display: table;
	margin: 1px 0 0 0;
	text-align: left;
	opacity: .92;
	filter: alpha(opacity = 92);
	direction: ltr
}

.box-product .img-wrapper .tags>.label-tags:hover {
	opacity: 1;
	filter: alpha(opacity = 100)
}

.box-product .img-wrapper .tags>.label-tags a:hover {
	text-decoration: none
}

.box-product .img-wrapper>.option {
	position: absolute;
	top: auto;
	right: 0;
	bottom: -30px;
	left: 0;
	width: auto;
	height: 28px;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, .55)
}

.box-product .img-wrapper .option>a {
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	padding: 0 4px;
	color: #fff
}

.box-product .img-wrapper:hover>.option {
	top: auto;
	bottom: 0
}

.box-product h6 a {
	line-height: 1.4
}

.price {
	margin-bottom: 5px;
	color: #f44336
}

.price .price-down {
	margin-left: 5px;
	padding: 2px 5px;
	color: #fff;
	background: #f44336
}

.price-old {
	position: relative;
	display: inline-block;
	margin-right: 7px;
	color: #666
}

.price-old:before {
	position: absolute;
	width: 100%;
	height: 60%;
	content: '';
	border-bottom: 1px solid #666
}

.rating i {
	color: #fc0
}

.product-sorting-bar {
	border: 1px solid #e5e5e5
}
/* -------------------------------------------------------------- End of Box Product -------------------------------------------------------------- */
* {
	user-select: none;
}

*:focus {
	outline: none;
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-bottom: 100px;
	margin: 0;
	background-color: #ebf3f3;
}

.brd {
	border: 1px solid #e2eded;
	border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	color: #2d3667;
	font-size: 16px;
	text-align: center;
	padding: 14px;
	background-color: #f3f9f9;
}

#app-cover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 300px;
	height: 42px;
	margin: 100px auto 0 auto;
}

#select-button {
	position: relative;
	height: 16px;
	padding: 12px 14px;
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

#options-view-button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

#selected-value {
	font-size: 16px;
	line-height: 1;
	margin-right: 26px;
}

.option i {
	width: 16px;
	height: 16px;
}

.option, .label {
	color: #2d3667;
	font-size: 16px;
}

#chevrons {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 12px;
	padding: 9px 14px;
}

#chevrons i {
	display: block;
	height: 50%;
	color: #d1dede;
	font-size: 12px;
	text-align: right;
}

#options-view-button:checked+#select-button #chevrons i {
	color: #2d3667;
}

.options {
	position: absolute;
	left: 0;
	width: 250px;
}

#options {
	position: absolute;
	top: 42px;
	right: 0;
	left: 0;
	width: 298px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 4px;
}

#options-view-button:checked ~ #options {
	border: 1px solid #e2eded;
	border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
	position: relative;
	line-height: 1;
	transition: 0.3s ease all;
	z-index: 2;
}

.option i {
	position: absolute;
	left: 14px;
	padding: 0;
	display: none;
}

#options-view-button:checked ~ #options .option i {
	display: block;
	padding: 12px 0;
}

.label {
	display: none;
	padding: 0;
	margin-left: 27px;
}

#options-view-button:checked ~ #options .label {
	display: block;
	padding: 12px 14px;
}

.s-c {
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
}

.s-c.top {
	top: 0;
}

.s-c.bottom {
	bottom: 0;
}

input[type="radio"] {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	height: 50%;
	margin: 0;
	opacity: 0;
	cursor: pointer;
}

.s-c:hover ~ i {
	color: #fff;
	opacity: 0;
}

.s-c:hover {
	height: 100%;
	z-index: 1;
}

.s-c.bottom:hover+i {
	bottom: -25px;
	animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
	top: -25px;
	animation: movedown 0.3s ease 0.1s forwards;
}

@
keyframes moveup { 0%{
	bottom: -25px;
	opacity: 0;
}

100%{
bottom












:






 






0;
opacity












:






 






1;
}
}
@
keyframes movedown { 0%{
	top: -25px;
	opacity: 0;
}

100%{
top












:






 






0;
opacity












:






 






1;
}
}
.label {
	transition: 0.3s ease all;
}

.opt-val {
	position: absolute;
	left: 14px;
	width: 217px;
	height: 21px;
	opacity: 0;
	background-color: #fff;
	transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val {
	opacity: 1;
	transform: scale(1);
}

.option input[type="radio"]:checked ~ i {
	top: 0;
	bottom: auto;
	opacity: 1;
	animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked 
	 ~ .label {
	color: #fff;
}

element.style {
	
}

.gtco-cover.gtco-cover-xs {
	height: 600px;
}

.option input[type="radio"]:checked ~ .label:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#options-view-button:not (:checked ) ~ #options .option input[type="radio"]:checked 
	 ~ .opt-val {
	top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
	background-color: #000;
	border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
	top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
	background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
	top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
	background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
	top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
	background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
	top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
	background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
	top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
	background-color: #006400;
	border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
	top: -231px;
}

.option .fa-codepen {
	color: #000;
}

.option .fa-dribbble {
	color: #ea4c89;
}

.option .fa-behance {
	color: #0057ff;
}

.option .fa-hackerrank {
	color: #32c766;
}

.option .fa-stack-overflow {
	color: #f48024;
}

.option .fa-free-code-camp {
	color: #006400;
}

#option-bg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	transition: 0.3s ease all;
	z-index: 1;
	display: none;
}

#options-view-button:checked ~ #options #option-bg {
	display: block;
}

.option:hover .label {
	color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
	top: 0;
	background-color: #000;
	border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg {
	top: 40px;
	background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg {
	top: 80px;
	background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg {
	top: 120px;
	background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg {
	top: 160px;
	background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg {
	top: 200px;
	background-color: #006400;
	border-radius: 0 0 4px 4px;
}

#ytd-url {
	display: block;
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px 14px;
	margin: 20px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	background-color: #143240;
	border-radius: 4px;
	box-shadow: 0 10px 20px -5px rgba(20, 50, 64, 0.76);
}

.form-horizontal .form-group {
	margin-left: -15px;
	margin-right: -90px;
}

#tutee_list .tutee .text-ellipsis, #tutor_list .tutor .text-ellipsis {
	width: calc(100% - 24px);
	height: 24px;
	padding: 7px 0 6px 4px;
	font-size: 14px !important;
}

.text-ellipsis {
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	max-width: 100%;
	font-weight: 300;
}

.text-basic-black {
	color: #4d4d4d !important;
}

body {
	margin-top: 20px;
}

.align-center, .center {
	text-align: center !important;
}

.profile-user-info {
	display: table;
	width: 98%;
	width: calc(100% - 24px);
	margin: 0 auto
}

.profile-info-row {
	display: table-row
}

.profile-info-name, .profile-info-value {
	display: table-cell;
	border-top: 1px dotted #D5E4F1
}

.profile-info-name {
	text-align: right;
	padding: 6px 10px 6px 4px;
	font-weight: 400;
	color: #667E99;
	background-color: transparent;
	width: 110px;
	vertical-align: middle
}

.profile-info-value {
	padding: 6px 4px 6px 6px
}

.profile-info-value>span+span:before {
	display: inline;
	content: ",";
	margin-left: 1px;
	margin-right: 3px;
	color: #666;
	border-bottom: 1px solid #FFF
}

.profile-info-value>span+span.editable-container:before {
	display: none
}

.profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value
	{
	border-top: none
}

.profile-user-info-striped {
	border: 1px solid #DCEBF7
}

.profile-user-info-striped .profile-info-name {
	color: #336199;
	background-color: #EDF3F4;
	border-top: 1px solid #F7FBFF
}

.profile-user-info-striped .profile-info-value {
	border-top: 1px dotted #DCEBF7;
	padding-left: 12px
}

.profile-picture {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 4px;
	display: inline-block;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.dd-empty, .dd-handle, .dd-placeholder, .dd2-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.profile-activity {
	padding: 10px 4px;
	border-bottom: 1px dotted #D0D8E0;
	position: relative;
	border-left: 1px dotted #FFF;
	border-right: 1px dotted #FFF
}

.profile-activity:first-child {
	border-top: 1px dotted transparent
}

.profile-activity:first-child:hover {
	border-top-color: #D0D8E0
}

.profile-activity:hover {
	background-color: #F4F9FD;
	border-left: 1px dotted #D0D8E0;
	border-right: 1px dotted #D0D8E0
}

.profile-activity img {
	border: 2px solid #C9D6E5;
	border-radius: 100%;
	max-width: 40px;
	margin-right: 10px;
	margin-left: 0;
	box-shadow: none
}

.profile-activity .thumbicon {
	background-color: #74ABD7;
	display: inline-block;
	border-radius: 100%;
	width: 38px;
	height: 38px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	line-height: 38px;
	margin-right: 10px;
	margin-left: 0;
	text-shadow: none !important
}

.profile-activity .time {
	display: block;
	margin-top: 4px;
	color: #777
}

.profile-activity a.user {
	font-weight: 700;
	color: #9585BF
}

.profile-activity .tools {
	position: absolute;
	right: 12px;
	bottom: 8px;
	display: none
}

.profile-activity:hover .tools {
	display: block
}

.user-profile .ace-thumbnails li {
	border: 1px solid #CCC;
	padding: 3px;
	margin: 6px
}

.user-profile .ace-thumbnails li .tools {
	left: 3px;
	right: 3px
}

.user-profile .ace-thumbnails li:hover .tools {
	bottom: 3px
}

.user-title-label:hover {
	text-decoration: none
}

.user-title-label+.dropdown-menu {
	margin-left: -12px
}

.profile-contact-links {
	padding: 4px 2px 5px;
	border: 1px solid #E0E2E5;
	background-color: #F8FAFC
}

.btn-link:hover .ace-icon {
	text-decoration: none !important
}

.profile-social-links>a:hover>.ace-icon, .profile-users .memberdiv .name a:hover .ace-icon,
	.profile-users .memberdiv .tools>a:hover {
	text-decoration: none
}

.profile-social-links>a {
	text-decoration: none;
	margin: 0 1px
}

.profile-skills .progress {
	height: 26px;
	margin-bottom: 2px;
	background-color: transparent
}

.profile-skills .progress .progress-bar {
	line-height: 26px;
	font-size: 13px;
	font-weight: 700;
	font-family: "Open Sans";
	padding: 0 8px
}

.profile-users .user {
	display: block;
	position: static;
	text-align: center;
	width: auto
}

.profile-users .user img {
	padding: 2px;
	border-radius: 100%;
	border: 1px solid #AAA;
	max-width: none;
	width: 64px;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s
}

.profile-users .user img:hover {
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .33);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .33)
}

.profile-users .memberdiv {
	background-color: #FFF;
	width: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	text-align: center;
	margin: 0 8px 24px
}

.profile-users .memberdiv .body {
	display: inline-block;
	margin: 8px 0 0
}

.profile-users .memberdiv .popover {
	visibility: hidden;
	min-width: 0;
	max-height: 0;
	max-width: 0;
	margin-left: 0;
	margin-right: 0;
	top: -5%;
	left: auto;
	right: auto;
	opacity: 0;
	display: none;
	position: absolute;
	-webkit-transition: opacity .2s linear 0s, visibility 0s linear .2s,
		max-height 0s linear .2s, max-width 0s linear .2s, min-width 0s linear
		.2s;
	-o-transition: opacity .2s linear 0s, visibility 0s linear .2s,
		max-height 0s linear .2s, max-width 0s linear .2s, min-width 0s linear
		.2s;
	transition: opacity .2s linear 0s, visibility 0s linear .2s, max-height
		0s linear .2s, max-width 0s linear .2s, min-width 0s linear .2s
}

.profile-users .memberdiv .popover.right {
	left: 100%;
	right: auto;
	display: block
}

.profile-users .memberdiv .popover.left {
	left: auto;
	right: 100%;
	display: block
}

.profile-users .memberdiv>:first-child:hover .popover {
	visibility: visible;
	opacity: 1;
	z-index: 1060;
	max-height: 250px;
	max-width: 250px;
	min-width: 150px;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s
}

.profile-users .memberdiv .tools {
	position: static;
	display: block;
	width: 100%;
	margin-top: 2px
}

.profile-users .memberdiv .tools>a {
	margin: 0 2px
}

.user-status {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: #FFF;
	border: 3px solid #AAA;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 1px
}

.user-status.status-online {
	border-color: #8AC16C
}

.user-status.status-busy {
	border-color: #E07F69
}

.user-status.status-idle {
	border-color: #FFB752
}

.tab-content.profile-edit-tab-content {
	border: 1px solid #DDD;
	padding: 8px 32px 32px;
	-webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .2);
	background-color: #FFF
}

@media only screen and (max-width:480px) {
	.profile-info-name {
		width: 80px
	}
	.profile-user-info-striped .profile-info-name {
		float: none;
		width: auto;
		text-align: left;
		padding: 6px 4px 6px 10px;
		display: block
	}
	.profile-user-info-striped .profile-info-value {
		margin-left: 10px;
		display: block
	}
	.user-profile .memberdiv {
		width: 50%;
		margin-left: 0;
		margin-right: 0
	}
}

.itemdiv {
	padding-right: 3px;
	min-height: 66px
}

.itemdiv>.user {
	display: inline-block;
	width: 42px;
	position: absolute;
	left: 0
}

.itemdiv>.user>.img, .itemdiv>.user>img {
	border-radius: 100%;
	border: 2px solid #5293C4;
	max-width: 40px;
	position: relative
}

.itemdiv>.user>.img {
	padding: 2px
}

.itemdiv>.body {
	width: auto;
	margin-left: 50px;
	margin-right: 12px;
	position: relative
}

.itemdiv>.body>.time {
	display: block;
	font-size: 11px;
	font-weight: 700;
	color: #666;
	position: absolute;
	right: 9px;
	top: 0
}

.itemdiv>.body>.time .ace-icon {
	font-size: 14px;
	font-weight: 400
}

.itemdiv>.body>.name {
	display: block;
	color: #999
}

.itemdiv>.body>.name>b {
	color: #777
}

.itemdiv>.body>.text {
	display: block;
	position: relative;
	margin-top: 2px;
	padding-bottom: 19px;
	padding-left: 7px;
	font-size: 13px
}

.itemdiv.dialogdiv:before, .itemdiv.dialogdiv>.body:before, .itemdiv>.body>.text:after
	{
	content: "";
	position: absolute
}

.itemdiv>.body>.text:after {
	display: block;
	height: 1px;
	font-size: 0;
	overflow: hidden;
	left: 16px;
	right: -12px;
	margin-top: 9px;
	border-top: 1px solid #E4ECF3
}

.itemdiv>.body>.text>.ace-icon:first-child {
	color: #DCE3ED;
	margin-right: 4px
}

.itemdiv:last-child>.body>.text {
	border-bottom-width: 0
}

.itemdiv:last-child>.body>.text:after {
	display: none
}

.itemdiv.dialogdiv {
	padding-bottom: 14px
}

.itemdiv.dialogdiv:before {
	display: block;
	top: 0;
	bottom: 0;
	left: 19px;
	width: 3px;
	max-width: 3px;
	background-color: #E1E6ED;
	border: 1px solid #D7DBDD;
	border-width: 0 1px
}

.itemdiv.dialogdiv:last-child {
	padding-bottom: 0
}

.itemdiv.dialogdiv:last-child:before {
	display: none
}

.itemdiv.dialogdiv>.user>img {
	border-color: #C9D6E5
}

.itemdiv.dialogdiv>.body {
	border: 1px solid #DDE4ED;
	padding: 5px 8px 8px;
	border-left-width: 2px;
	margin-right: 1px
}

.itemdiv.dialogdiv>.body:before {
	display: block;
	left: -7px;
	top: 11px;
	width: 8px;
	height: 8px;
	border: 2px solid #DDE4ED;
	border-width: 2px 0 0 2px;
	background-color: #FFF;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.itemdiv.dialogdiv>.body>.time {
	position: static;
	float: right
}

.itemdiv.dialogdiv>.body>.text {
	padding-left: 0;
	padding-bottom: 0
}

.itemdiv.dialogdiv>.body>.text:after {
	display: none
}

.itemdiv.dialogdiv .tooltip-inner {
	word-break: break-all
}

.itemdiv.memberdiv {
	width: 175px;
	padding: 2px;
	margin: 3px 0;
	float: left;
	border-bottom: 1px solid #E8E8E8
}

@media ( min-width :992px) {
	.itemdiv.memberdiv {
		max-width: 50%
	}
}

@media ( max-width :991px) {
	.itemdiv.memberdiv {
		min-width: 33.333%
	}
}

.itemdiv.memberdiv>.user>img {
	border-color: #DCE3ED
}

.itemdiv.memberdiv>.body>.time {
	position: static
}

.itemdiv.memberdiv>.body>.name {
	line-height: 18px;
	height: 18px;
	margin-bottom: 0
}

.itemdiv.memberdiv>.body>.name>a {
	display: inline-block;
	max-width: 100px;
	max-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all
}

.itemdiv .tools {
	position: absolute;
	right: 5px;
	bottom: 10px;
	display: none
}

.item-list>li>.checkbox, .item-list>li>label.inline, .itemdiv:hover .tools
	{
	display: inline-block
}

.itemdiv .tools .btn {
	border-radius: 36px;
	margin: 1px 0
}

.itemdiv .body .tools {
	bottom: 4px
}

.itemdiv.commentdiv .tools {
	right: 9px
}

.item-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.item-list>li {
	padding: 9px;
	background-color: #FFF;
	margin-top: -1px;
	position: relative
}

.item-list>li.selected {
	color: #8090A0;
	background-color: #F4F9FC
}

.item-list>li.selected .lbl, .item-list>li.selected label {
	text-decoration: line-through;
	color: #8090A0
}

.item-list>li label {
	font-size: 13px
}

.item-list>li .percentage {
	font-size: 11px;
	font-weight: 700;
	color: #777
}

.ace-thumbnails>li, .ace-thumbnails>li>:first-child {
	display: block;
	position: relative
}

.ace-thumbnails {
	list-style: none;
	margin: 0;
	padding: 0
}

.ace-thumbnails>li {
	float: left;
	overflow: hidden;
	margin: 2px;
	border: 2px solid #333
}

.ace-thumbnails>li>:first-child:focus {
	outline: 0
}

.ace-thumbnails>li .tags {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: visible;
	direction: rtl;
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	background-color: transparent;
	border-width: 0;
	vertical-align: inherit
}

.ace-thumbnails>li .tags>.label-holder {
	opacity: .92;
	filter: alpha(opacity = 92);
	display: table;
	margin: 1px 0 0;
	direction: ltr;
	text-align: left
}

.ace-thumbnails>li>.tools, .ace-thumbnails>li>:first-child>.text {
	position: absolute;
	text-align: center;
	background-color: rgba(0, 0, 0, .55)
}

.ace-thumbnails>li .tags>.label-holder:hover {
	opacity: 1;
	filter: alpha(opacity = 100)
}

.ace-thumbnails>li>.tools {
	top: 0;
	bottom: 0;
	left: -30px;
	width: 24px;
	vertical-align: middle;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease
}

.ace-thumbnails>li>.tools.tools-right {
	left: auto;
	right: -30px
}

.ace-thumbnails>li>.tools.tools-bottom {
	width: auto;
	height: 28px;
	left: 0;
	right: 0;
	top: auto;
	bottom: -30px
}

.ace-thumbnails>li>.tools.tools-top {
	width: auto;
	height: 28px;
	left: 0;
	right: 0;
	top: -30px;
	bottom: auto
}

.ace-thumbnails>li:hover>.tools {
	left: 0;
	right: 0
}

.ace-thumbnails>li:hover>.tools.tools-bottom {
	top: auto;
	bottom: 0
}

.ace-thumbnails>li:hover>.tools.tools-top {
	bottom: auto;
	top: 0
}

.ace-thumbnails>li:hover>.tools.tools-right {
	left: auto;
	right: 0
}

.ace-thumbnails>li>.in.tools {
	left: 0;
	right: 0
}

.ace-thumbnails>li>.in.tools.tools-bottom {
	top: auto;
	bottom: 0
}

.ace-thumbnails>li>.in.tools.tools-top {
	bottom: auto;
	top: 0
}

.ace-thumbnails>li>.in.tools.tools-right {
	left: auto;
	right: 0
}

.ace-thumbnails>li>.tools>a, .ace-thumbnails>li>:first-child .inner a {
	display: inline-block;
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	padding: 0 4px
}

.ace-thumbnails>li>.tools>a:hover, .ace-thumbnails>li>:first-child .inner a:hover
	{
	text-decoration: none;
	color: #C9E2EA
}

.ace-thumbnails>li .tools.tools-bottom>a, .ace-thumbnails>li .tools.tools-top>a
	{
	display: inline-block
}

.ace-thumbnails>li>:first-child>.text {
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	color: #FFF;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease
}

.dialogs, .itemdiv {
	position: relative
}

.ace-thumbnails>li>:first-child>.text:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: 0
}

.ace-thumbnails>li>:first-child>.text>.inner {
	padding: 4px 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	max-width: 90%
}

.ace-thumbnails>li:hover>:first-child>.text {
	opacity: 1;
	filter: alpha(opacity = 100)
}

@media only screen and (max-width:480px) {
	.ace-thumbnails {
		text-align: center
	}
	.ace-thumbnails>li {
		float: none;
		display: inline-block
	}
}

.tab-content {
	border: 1px solid #C5D0DC;
	padding: 16px 12px;
	position: relative
}

.tab-content.no-padding {
	padding: 0
}

.tab-content.no-border {
	border: none;
	padding: 12px
}

.tab-content.padding-32 {
	padding: 32px 24px
}

.tab-content.no-border.padding-32 {
	padding: 32px
}

.tab-content.padding-30 {
	padding: 30px 23px
}

.tab-content.no-border.padding-30 {
	padding: 30px
}

.tab-content.padding-28 {
	padding: 28px 21px
}

.tab-content.no-border.padding-28 {
	padding: 28px
}

.tab-content.padding-26 {
	padding: 26px 20px
}

.tab-content.no-border.padding-26 {
	padding: 26px
}

.tab-content.padding-24 {
	padding: 24px 18px
}

.tab-content.no-border.padding-24 {
	padding: 24px
}

.tab-content.padding-22 {
	padding: 22px 17px
}

.tab-content.no-border.padding-22 {
	padding: 22px
}

.tab-content.padding-20 {
	padding: 20px 15px
}

.tab-content.no-border.padding-20 {
	padding: 20px
}

.tab-content.padding-18 {
	padding: 18px 14px
}

.tab-content.no-border.padding-18 {
	padding: 18px
}

.tab-content.padding-16 {
	padding: 16px 12px
}

.tab-content.no-border.padding-16 {
	padding: 16px
}

.tab-content.padding-14 {
	padding: 14px 11px
}

.tab-content.no-border.padding-14 {
	padding: 14px
}

.tab-content.padding-12 {
	padding: 12px 9px
}

.tab-content.no-border.padding-12 {
	padding: 12px
}

.tab-content.padding-10 {
	padding: 10px 8px
}

.tab-content.no-border.padding-10 {
	padding: 10px
}

.tab-content.padding-8 {
	padding: 8px 6px
}

.tab-content.no-border.padding-8 {
	padding: 8px
}

.tab-content.padding-6 {
	padding: 6px 5px
}

.tab-content.no-border.padding-6 {
	padding: 6px
}

.tab-content.padding-4 {
	padding: 4px 3px
}

.tab-content.no-border.padding-4 {
	padding: 4px
}

.tab-content.no-border.padding-2, .tab-content.padding-2 {
	padding: 2px
}

.tab-content.no-border.padding-0, .tab-content.padding-0 {
	padding: 0
}

.nav.nav-tabs.padding-28 {
	padding-left: 28px
}

.tabs-left>.nav.nav-tabs.padding-28, .tabs-right>.nav.nav-tabs.padding-28
	{
	padding-left: 0;
	padding-top: 28px
}

.nav.nav-tabs.padding-26 {
	padding-left: 26px
}

.tabs-left>.nav.nav-tabs.padding-26, .tabs-right>.nav.nav-tabs.padding-26
	{
	padding-left: 0;
	padding-top: 26px
}

.nav.nav-tabs.padding-24 {
	padding-left: 24px
}

.tabs-left>.nav.nav-tabs.padding-24, .tabs-right>.nav.nav-tabs.padding-24
	{
	padding-left: 0;
	padding-top: 24px
}

.nav.nav-tabs.padding-22 {
	padding-left: 22px
}

.tabs-left>.nav.nav-tabs.padding-22, .tabs-right>.nav.nav-tabs.padding-22
	{
	padding-left: 0;
	padding-top: 22px
}

.nav.nav-tabs.padding-20 {
	padding-left: 20px
}

.tabs-left>.nav.nav-tabs.padding-20, .tabs-right>.nav.nav-tabs.padding-20
	{
	padding-left: 0;
	padding-top: 20px
}

.nav.nav-tabs.padding-18 {
	padding-left: 18px
}

.tabs-left>.nav.nav-tabs.padding-18, .tabs-right>.nav.nav-tabs.padding-18
	{
	padding-left: 0;
	padding-top: 18px
}

.nav.nav-tabs.padding-16 {
	padding-left: 16px
}

.tabs-left>.nav.nav-tabs.padding-16, .tabs-right>.nav.nav-tabs.padding-16
	{
	padding-left: 0;
	padding-top: 16px
}

.nav.nav-tabs.padding-14 {
	padding-left: 14px
}

.tabs-left>.nav.nav-tabs.padding-14, .tabs-right>.nav.nav-tabs.padding-14
	{
	padding-left: 0;
	padding-top: 14px
}

.nav.nav-tabs.padding-12 {
	padding-left: 12px
}

.tabs-left>.nav.nav-tabs.padding-12, .tabs-right>.nav.nav-tabs.padding-12
	{
	padding-left: 0;
	padding-top: 12px
}

.nav.nav-tabs.padding-10 {
	padding-left: 10px
}

.tabs-left>.nav.nav-tabs.padding-10, .tabs-right>.nav.nav-tabs.padding-10
	{
	padding-left: 0;
	padding-top: 10px
}

.nav.nav-tabs.padding-8 {
	padding-left: 8px
}

.tabs-left>.nav.nav-tabs.padding-8, .tabs-right>.nav.nav-tabs.padding-8
	{
	padding-left: 0;
	padding-top: 8px
}

.nav.nav-tabs.padding-6 {
	padding-left: 6px
}

.tabs-left>.nav.nav-tabs.padding-6, .tabs-right>.nav.nav-tabs.padding-6
	{
	padding-left: 0;
	padding-top: 6px
}

.nav.nav-tabs.padding-4 {
	padding-left: 4px
}

.tabs-left>.nav.nav-tabs.padding-4, .tabs-right>.nav.nav-tabs.padding-4
	{
	padding-left: 0;
	padding-top: 4px
}

.nav.nav-tabs.padding-2 {
	padding-left: 2px
}

.tabs-left>.nav.nav-tabs.padding-2, .tabs-right>.nav.nav-tabs.padding-2
	{
	padding-left: 0;
	padding-top: 2px
}

.nav-tabs {
	border-color: #C5D0DC;
	margin-bottom: 0 !important;
	position: relative;
	top: 1px
}

.nav-tabs>li>a {
	padding: 7px 12px 8px
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
	border-radius: 0 !important;
	border-color: #C5D0DC;
	background-color: #F9F9F9;
	color: #999;
	margin-right: -1px;
	line-height: 18px;
	position: relative
}

.nav-tabs>li>a:hover {
	background-color: #FFF;
	color: #4C8FBD;
	border-color: #C5D0DC
}

.nav-tabs>li>a:active, .nav-tabs>li>a:focus {
	outline: 0 !important
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #576373;
	border-color: #C5D0DC #C5D0DC transparent;
	border-top: 2px solid #4C8FBD;
	background-color: #FFF;
	z-index: 1;
	line-height: 18px;
	margin-top: -1px;
	box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .15)
}

.tabs-below>.nav-tabs {
	top: auto;
	margin-bottom: 0;
	margin-top: -1px;
	border-color: #C5D0DC;
	border-bottom-width: 0
}

.tabs-below>.nav-tabs>li>a, .tabs-below>.nav-tabs>li>a:focus,
	.tabs-below>.nav-tabs>li>a:hover {
	border-color: #C5D0DC
}

.tabs-below>.nav-tabs>li.active>a, .tabs-below>.nav-tabs>li.active>a:focus,
	.tabs-below>.nav-tabs>li.active>a:hover {
	border-color: transparent #C5D0DC #C5D0DC;
	border-top-width: 1px;
	border-bottom: 2px solid #4C8FBD;
	margin-top: 0;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15)
}

.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
	min-width: 60px
}

.tabs-left>.nav-tabs {
	top: auto;
	margin-bottom: 0;
	border-color: #C5D0DC;
	float: left
}

.tabs-left>.nav-tabs>li {
	float: none !important
}

.tabs-left>.nav-tabs>li>a, .tabs-left>.nav-tabs>li>a:focus, .tabs-left>.nav-tabs>li>a:hover
	{
	border-color: #C5D0DC;
	margin: 0 -1px 0 0
}

.tabs-left>.nav-tabs>li.active>a, .tabs-left>.nav-tabs>li.active>a:focus,
	.tabs-left>.nav-tabs>li.active>a:hover {
	border-color: #C5D0DC transparent #C5D0DC #C5D0DC;
	border-top-width: 1px;
	border-left: 2px solid #4C8FBD;
	margin: 0 -1px;
	-webkit-box-shadow: -2px 0 3px 0 rgba(0, 0, 0, .15) !important;
	box-shadow: -2px 0 3px 0 rgba(0, 0, 0, .15) !important
}

.tabs-right>.nav-tabs {
	top: auto;
	margin-bottom: 0;
	border-color: #C5D0DC;
	float: right
}

.tabs-right>.nav-tabs>li {
	float: none !important
}

.tabs-right>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a:focus,
	.tabs-right>.nav-tabs>li>a:hover {
	border-color: #C5D0DC;
	margin: 0 -1px
}

.tabs-right>.nav-tabs>li.active>a, .tabs-right>.nav-tabs>li.active>a:focus,
	.tabs-right>.nav-tabs>li.active>a:hover {
	border-color: #C5D0DC #C5D0DC #C5D0DC transparent;
	border-top-width: 1px;
	border-right: 2px solid #4C8FBD;
	margin: 0 -2px 0 -1px;
	-webkit-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, .15);
	box-shadow: 2px 0 3px 0 rgba(0, 0, 0, .15)
}

.nav-tabs>li>a .badge {
	padding: 1px 5px;
	line-height: 15px;
	opacity: .75;
	vertical-align: initial
}

.nav-tabs>li>a .ace-icon {
	opacity: .75
}

.nav-tabs>li.active>a .ace-icon, .nav-tabs>li.active>a .badge {
	opacity: 1
}

.nav-tabs li .ace-icon {
	width: 1.25em;
	display: inline-block;
	text-align: center
}

.nav-tabs>li.open .dropdown-toggle {
	background-color: #4F99C6;
	border-color: #4F99C6;
	color: #FFF
}

.nav-tabs>li.open .dropdown-toggle>.ace-icon {
	color: #FFF !important
}

.tabs-left .tab-content, .tabs-right .tab-content {
	overflow: auto
}

.dark {
	color: #333 !important
}

.white {
	color: #FFF !important
}

.red {
	color: #DD5A43 !important
}

.red2 {
	color: #E08374 !important
}

.light-red {
	color: #F77 !important
}

.blue {
	color: #478FCA !important
}

.light-blue {
	color: #93CBF9 !important
}

.green {
	color: #69AA46 !important
}

.light-green {
	color: #B0D877 !important
}

.orange {
	color: #FF892A !important
}

.orange2 {
	color: #FEB902 !important
}

.light-orange {
	color: #FCAC6F !important
}

.purple {
	color: #A069C3 !important
}

.pink {
	color: #C6699F !important
}

.pink2 {
	color: #D6487E !important
}

.brown {
	color: brown !important
}

.grey {
	color: #777 !important
}

.comment-wrapper .panel-body {
	max-height: 650px;
	overflow: auto;
}

.comment-wrapper .media-list .media img {
	width: 64px;
	height: 64px;
	border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
	border-bottom: 1px dashed #efefef;
	margin-bottom: 25px;
}
.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa, 
.modal-message .modal-header 
.glyphicon, .modal-message 
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}

