<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.ConnectLessonDao">
  
  <select id="selectConnectStu" resultType="map">
		SELECT * FROM (
	  		SELECT rownum no, t.*
	  		FROM (
				SELECT * FROM connected_lesson c
				INNER JOIN membership m
				ON(c.user_from = m.user_no)
				WHERE user_actor = 2
				AND user_to = #{userNo}
			) t
			ORDER BY no ) x
		WHERE no between #{paging.startNo} AND #{paging.endNo}
  </select>
  
  <select id="selectCntAllStu" parameterType="int" resultType="int">
  	SELECT count(*) FROM connected_lesson
  	WHERE user_to = #{userNo}
  	AND is_connected = 1
  </select>
  
  
  </mapper>