<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.ConnectLessonDao">
  
  <select id="selectConnectStu" parameterType="map" resultType="map">
		SELECT * FROM (
	  		SELECT rownum no, t.*
	  		FROM (
				SELECT c.conn_lesson_no, m.user_no, m.user_name, f.lesson_no, f.lesson_title, f.lesson_subject, f.max_people, c.leg_date, NVL(z.cnt, 0) cnt FROM connected_lesson c
				INNER JOIN membership m
				ON(c.student = m.user_no)
				INNER JOIN find_lesson f
				ON(c.lesson_no = f.lesson_no)
                LEFT JOIN (select c.lesson_no, count(*) cnt from connected_lesson c
                    where c.is_end = 0
                    AND c.is_connected = 1
                    GROUP BY c.lesson_no) z
                ON(z.lesson_no = c.lesson_no)
				WHERE teacher = #{userNo}
				AND is_connected = 0
				ORDER BY c.conn_lesson_no
			) t
			ORDER BY no ) x
		WHERE no between #{paging.startNo} AND #{paging.endNo}
  </select>
  
  <select id="selectCntAllStu" parameterType="int" resultType="int">
  	SELECT count(*) FROM connected_lesson
  	WHERE teacher = #{userNo}
  	AND is_connected = 0
  </select>
  
  <update id="updateConnState" parameterType="int">
  	UPDATE connected_lesson SET is_connected = 1
  	WHERE conn_lesson_no = #{connNo}
  </update>
  
  <delete id="rejectSignStu" parameterType="int">
  	DELETE connected_lesson
  	WHERE conn_lesson_no = #{connNo}
  </delete>
  
  <select id="getMaxPeople" parameterType="int" resultType="map">
	SELECT f.max_people, f.lesson_no FROM connected_lesson c
	INNER JOIN find_lesson f
	ON(c.lesson_no = f.lesson_no)
	WHERE c.conn_lesson_no = #{connNo}
  </select>
  
  <select id="getConnectedCnt" parameterType="int" resultType="int">
	select count(*) from connected_lesson c
	where lesson_no = #{lessonNo}
	AND c.is_connected = 1
	AND c.is_end = 0
  </select>

  <select id="selectLessonByNo" parameterType="int" resultType="map">
	select f.lesson_no, f.lesson_title, f.lesson_content, f.lesson_loc, f.lesson_age, f.lesson_price, f.lesson_subject, f.max_people, m.user_name, m.user_id from find_lesson f
	INNER JOIN membership m
	ON(f.user_no = m.user_no)
	where lesson_no = #{lessonNo}
  </select>

  <select id="selectStudentByNo" parameterType="int" resultType="MEMBERSHIP">
	select user_name, user_id, user_birth, user_email, user_gender from membership
	where user_no = #{studentNo}
  </select>
  
  <update id="downLessonBoard" parameterType="int">
  	update find_lesson SET lesson_state = 0
  	WHERE lesson_no = #{lessonNo}
  </update>
  
  </mapper>