<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <!-- 이인주 : 선생님 > 개인정보 수정 > mapper -->
  
  <mapper namespace="Profile">
  
	<update id="updateProfile" parameterType="MEMBER">
		update membership 
		 
		<trim prefix="set" prefixOverrides=",">
			<if test='userPw != null and !userPw.equals("")'>
				, user_pw = #{userPw}
			</if>
			<if test='userName != null and !userName.equals("")'>
				, user_name = #{userName}
			</if>
			 <if test="postCode != null">
				, postcode = #{postCode}
			 </if>
			<if test='roadAddress != null and !roadAddress.equals("")'>
				, roadaddress =  #{roadAddress}
			</if>
			 <if test='detailAddress != null and !detailAddress.equals("")'>
				, detailaddress = #{detailAddress}
			</if>
			<if test="userPhone != null">
				, user_phone = #{userPhone}
			</if>
			<if test='userGender != null and !userGender.equals("")'>
				, user_gender =  #{userGender}
			</if>
			<if test='userBirth != null and !userBirth.equals("")'>
				, user_birth = #{userBirth}
			</if>
		</trim>
		
		where user_no = #{userNo}
	</update>
 
 
	<insert id="insertFile" parameterType="TEACHERFILE">
		insert into teacherFile(tch_file_no, user_no, user_id, tch_file_org, tch_file_rename, save_path)
		values (teacherFile_seq.nextval, #{userNo}, #{userId}, #{tchFileOrg}, #{tchFileRename}, #{savePath})
	</insert>
  
	<select id="selectonenew" parameterType="MEMBER" resultType="MEMBER">
		select * from membership
		where user_no = #{userNo}
	 </select>
	 
	 <select id="selectFile" parameterType="MEMBER" resultType="TEACHERFILE">
		select * from teacherFile
		where user_no = #{userNo}
	 </select>
	 
	 <delete id="deleteFile" parameterType="int">
		delete teacherfile
		where user_No = #{userNo}
	</delete>
	
	<select id="countIsEnd" parameterType="int" resultType="int">
		select count(*) from connected_lesson
		where teacher = #{userNo}
		and is_end = 0
		and is_connected = 1
	</select>
	
	<update id="deleteProfile" parameterType="int">
		update membership
		set is_leave = 1
		where user_no = #{userNo}
	</update>
  
  </mapper>