<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="TeacherQuestion">
  
  <select id="selectQuestionListCnt" resultType="int">
		SELECT count(*) FROM (
			select * from QUESTION
			where user_no = #{userNo}
		)
	</select>
	
	<select id="selectQuestionList" resultType="map">
		SELECT * FROM (
	  		SELECT rownum no, t.*
	  		FROM (
				SELECT * FROM question
				where user_no = #{user.userNo}
				order by question_no
			) t
			ORDER BY no ) x
		WHERE no between #{paging.startNo} AND #{paging.endNo}	
	</select>
  
  
  <select id="selectQuestionCommListCnt" resultType="int">
		SELECT count(*) FROM (
			select * from QUESTION_COMM
			where user_no = #{userNo}
		)
	</select>
	
	<select id="selectQuestionCommList" resultType="map">
		SELECT * FROM (
	  		SELECT rownum no, t.*
	  		FROM (
				SELECT * FROM question_comm
				where user_no = #{user.userNo}
				order by comm_no
			) t
			ORDER BY no ) x
		WHERE no between #{paging.startNo} AND #{paging.endNo}			
	</select>
  
  
  
  
  
  
  </mapper>