<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- 이인주 : 학생 > 개인정보 수정 > mapper -->
  
  <mapper namespace="StuProfile">
  
  	<select id="countIsEnd" parameterType="int" resultType="int">
		select count(*) from connected_lesson
		where student = #{userNo}
		and is_end = 0
		and is_connected = 1
	</select>
  
  </mapper>