<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="StuReview">

	<select id="selectReviewListCnt" resultType="int">
		SELECT count(*) FROM (
			select * from REVIEW
			  where user_no = #{userNo}
		)
	</select>
	
	<select id="selectReviewList" resultType="map">

	        select * from (
      select rownum rnum, a.* from(
          select r.review_no , r.review_content,r.star_point,r.review_date,m.user_no,f.lesson_title from review r
        inner join membership m 
        on r.user_no = m.user_no
        inner join  connected_lesson c
        on c.conn_lesson_no=r.conn_lesson_no
        inner join find_lesson f
        on c.lesson_no=f.lesson_no
        where r.user_no=#{userNo}
      ) a
   ) review 
   where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
</select>
</mapper>