<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="findLesson">

	<!-- 게시글 별 파일정보 반환 -->
	<resultMap type="map" id="fileData">
		<result column="tch_file_no" property="tchFileNo"/>
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="tch_file_org" property="tchFileOrg"/>
		<result column="tch_file_rename" property="tchFileRename"/>
		<result column="SAVE_PATH" property="savePath"/>
	</resultMap>
	
	<select id="selectTeacherFile" resultMap="fileData">
		select * from teacherfile
		where user_no = #{userNo}
	</select>

	<insert id="insertLesson">
		insert into FIND_LESSON(LESSON_NO, LESSON_TITLE, LESSON_CONTENT ,LESSON_DATE ,USER_NO ,LESSON_LOC ,LESSON_SUBJECT ,LESSON_PRICE ,LESSON_AGE, MAX_PEOPLE ,LESSON_STATE ,LESSON_CHK, PAY_STATE)
		values(find_lesson_SEQ.nextval, #{lessonTitle}, #{lessonContent}, sysdate, #{userNo}, #{lessonLoc}, #{lessonSubject}, #{lessonPrice}, #{lessonAge}, #{maxPeople}, 0, 0, 0)
	</insert>
	
	<insert id="insertFile">
		insert into findLesson_file (TCH_FILE_NO, lesson_no, USER_NO, TCH_FILE_ORG, TCH_FILE_RENAME, SAVE_PATH)
		values (findLesson_file_SEQ.nextval, find_lesson_SEQ.currval, #{userNo}, #{originFileName}, #{renameFileName}, #{savePath})
	</insert>


	<select id="getLessonListCnt" resultType="int">
		select count(*) from (
		select * from FIND_LESSON
		WHERE user_no = #{userNo}
		and pay_state = 1
		)
	</select>
	
	<select id="selectLessonList" resultType="map">
		select * from (
			select rownum no, t.*	
				FROM(
				SELECT * FROM FIND_LESSON
				WHERE user_no = #{loginUser.userNo}
				AND pay_state = 1
				ORDER BY lesson_no desc
				)t
			order by no)x
		where no between #{paging.startNo} and #{paging.endNo}
	</select>
	<delete id="deleteLesson">
		DELETE from find_lesson
		where lesson_no = #{lessonNo}
	</delete>
	
	<update id="endLesson">
		update find_lesson
		set lesson_state = 0
		where lesson_no = #{lessonNo}
	</update>
	
	<select id="selectLessonByNo" resultType="map">
		select f.lesson_no, f.lesson_title, f.lesson_content, f.lesson_date, f.lesson_loc, f.lesson_age, f.lesson_price, f.lesson_subject, f.max_people, m.user_name, m.user_id from find_lesson f
		INNER JOIN membership m
		ON(f.user_no = m.user_no)
		where lesson_no = #{lessonNo}
	</select>
	
	<!-- 결제하기 전,  -->
	<select id="getPayListCnt" resultType="int">
		select count(*) from (
		select * from FIND_LESSON
		WHERE user_no = #{userNo}
		and pay_state = 0
		and lesson_state = 0
		)
	</select>
	
	<select id="selectPayList" resultType="map">
		select * from (
			select rownum no, t.*	
				FROM(
				SELECT * FROM FIND_LESSON
				WHERE user_no = #{loginUser.userNo}
				AND pay_state = 0
				AND lesson_state = 0
				ORDER BY lesson_no desc
				)t
			order by no)x
		where no between #{paging.startNo} and #{paging.endNo}
	</select>
	<insert id="insertPayment">
		insert into payment
		values(payment_SEQ.nextval, #{lesson }, #{user}, sysdate, '1000')
	</insert>
	
	<update id="updatePayState">
		UPDATE find_lesson
		set pay_state = 1, lesson_state = 1
		WHERE lesson_no = #{lessonNo}
	</update>
	

</mapper>

