<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="TeacherReview">
  
  <!-- 전체 리스트 출력 -->
	<select id="selectReviewList" resultType="REVIEW">

	select * from review
	 order by review_no desc
  </select>
  
  <!-- 질문게시판 컨텐츠갯수 cnt -->
	<select id="selectCntReviewAll" resultType="int">
  		select count(*) from review
    </select>  
  
  <!-- 검색 -->
	<select id="selectSearchReview" resultType="REVIEW" parameterType="map">

	select * from (
		select rownum rnum, c.* from(
			select * from review
			where review_content like '%' || #{keyword} || '%'
			order by review_no desc
		) c
	) review 
	where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  </select>
  
   <select id="selectCntReviewSearchAll" resultType="int" parameterType="String">
  	select count(*) from review
  	where review_content like '%' || #{keyword} || '%'
  </select>  
  
  
  </mapper>