<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Notice">
  
  <select id="selectNoticeList" resultType="NOTICE">
  	select * from notice
  	order by notice_no desc
  </select>
  
  <select id="selectNoticeone" resultType="NOTICE" parameterType="int">
  	select * from notice
  	where notice_no = #{noticeNo}
  </select>
  
  
  </mapper>