<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!--  -->
<mapper namespace="Review">

<!-- 전체 리스트 출력 -->
	<select id="selectReviewList" parameterType="map" resultType="map">
	SELECT * FROM (
  		SELECT rownum no, t.*
  		FROM(
	select R.review_no, R.user_no, R.review_date,R.star_point, R.review_content,R.conn_lesson_no,R.review_state, M.user_id from review R
	INNER JOIN membership M
	ON R.user_no = M.user_no 
	 order by R.review_no desc
	 )t
	 )x
	 WHERE no between #{startNo} AND #{endNo}
	
  </select>
	
	<!-- 질문게시판 컨텐츠갯수 cnt -->
	<select id="selectCntReviewAll" resultType="int">
  		select count(*) from review
    </select> 

	<!-- 게시물 삭제 -->
	<delete id="deleteReview">
	  	delete from review
		where review_no = #{reviewNo}
    </delete>


	<select id="selectSearchReview"  parameterType="map" resultType="map">

	select * from (
		select rownum rnum, c.* from(
				select  r.*, m.user_id
				from review r, membership m
			where r.user_no=m.user_no
			and review_content like  '%' || #{keyword} || '%'
		order by review_no desc
		)c
	)review	
	where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  </select>
  
  <select id="selectCntReviewSearchAll" resultType="int" parameterType="String">
  	select count(*) from review
  	where review_content like  '%' || #{keyword} || '%'
  </select>









</mapper>