<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 20200904 이인주 : user > find_student > mapper -->
  
  <mapper namespace="UserFindStu">
  
  <select id="selectCntUserFindStuAll" resultType="int">
  	select count(*) from find_student
  	where find_stu_state = 0
  </select>
  
  <select id="userFindStuList" parameterType="map" resultType="map">
	  select * from (
			select rownum rnum, c.* from(
				SELECT 
						F.find_stu_no, F.find_stu_title, F.find_stu_content, F.user_no,M.user_id,
						F.find_stu_date, F.find_stu_loc, F.find_stu_subject, f.find_stu_state
				FROM find_student F                         
       				 INNER JOIN membership M          
        			 ON f.user_no = m.user_no 
       			where f.find_stu_state = 0
				order by F.find_stu_no desc
			) c
		) findStu 
	where rnum BETWEEN #{startNo} AND #{endNo}
	
  </select>
  
  <select id="detailFindStu" parameterType="int" resultType="map">
	 SELECT 
			F.find_stu_no, F.find_stu_title, F.find_stu_content, F.user_no,
			F.find_stu_date, F.find_stu_loc, F.find_stu_subject, F.find_stu_state,
			M.user_id
	FROM find_student F                         
			INNER JOIN membership M          
  			ON f.user_no = m.user_no 
	where find_stu_no = #{findStuNo}
  </select>
  
  
  </mapper>