<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberFindLesson">
	<select id="selectTotalCnt" resultType="int">
		select count(*) from
		(select * from find_lesson f
		inner join membership
		m
		on m.user_no=f.user_no
		left join teacherfile t
		on t.user_no=f.user_no
		where 1=1
		<if test="!Loc.equals('무관')">
			and f.lesson_loc LIKE '%' || #{Loc} ||'%'
		</if>
		<if test="!Age.equals('무관')">
			and f.lesson_age=#{Age}
		</if>
		<if test="!Sex.equals('무관')">
			and m.user_gender=#{Sex}
		</if>
		<if test="!Sub.equals('무관')">
			and f.lesson_subject=#{Sub}
		</if>
		<if test="!Pri.equals('무관')">

			and #{Pri} >= f.lesson_price

		</if>
		<if test="!Cnt.equals('무관')">
			<if test="Cnt.equals('일대일')">
				and f.max_people=1

			</if>
			<if test="Cnt.equals('그룹')">
				and f.max_people>1

			</if>
		</if>

		)
	</select>

	<select id="selectByOption" resultType="map">
		select * from (
		select
		rownum rnum, c.* from(
		select * from find_lesson f
		inner join membership m
		on m.user_no=f.user_no
		left join teacherfile t
		on t.user_no=f.user_no
		where 1=1
		<if test="!Loc.equals('무관')">
			and f.lesson_loc LIKE '%' || #{Loc} ||'%'
		</if>
		<if test="!Age.equals('무관')">
			and f.lesson_age=#{Age}
		</if>
		<if test="!Sex.equals('무관')">
			and m.user_gender=#{Sex}
		</if>
		<if test="!Sub.equals('무관')">
			and f.lesson_subject=#{Sub}
		</if>
		<if test="!Pri.equals('무관')">

			and #{Pri} >= f.lesson_price

		</if>
		<if test="!Cnt.equals('무관')">
			<if test="Cnt.equals('일대일')">
				and f.max_people=1

			</if>
			<if test="Cnt.equals('그룹')">
				and f.max_people>1

			</if>
		</if>
		order by lesson_no desc
		) c
		) findlesson
		where rnum BETWEEN #{startNo}
		AND
		#{endNo}
	</select>

	<select id="selectStarAndReview" resultType="map"><!-- 과외목록에 따른 별점과 리뷰의 수 가져오기  -->
		select c.lesson_no,avg(r.star_point) star,count(*)review from review r
		inner join connected_lesson c
		on r.conn_lesson_no=c.conn_lesson_no
		GROUP BY c.lesson_no 

	</select>





</mapper>