<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

	<select id="selectStuList" parameterType="PAGING" resultType="MEMBERSHIP">
		  	SELECT * FROM (
	  		SELECT rownum no, t.*
	  		FROM (
			  	SELECT * FROM Membership
				WHERE user_actor = 2
				AND user_id LIKE '%' || #{search} || '%'
				ORDER BY user_no
			) t
			ORDER BY no ) x
		WHERE no between #{startNo} AND #{endNo}
  	</select>
  	
  	<select id="selectStuCnt" resultType="int">
		SELECT count(*) FROM (select * from Membership
		WHERE user_actor = 2
		AND user_id LIKE '%' || #{search} || '%')
  	</select>
	
	<select id="selectStuDetail" resultType="MEMBERSHIP">
		SELECT * FROM Membership
		WHERE user_no = #{userno}
	</select>
	<!-- 본인이 작성한 질문게시판 조회 -->
	<select id="selectQuestionList" resultType="QUESTION">
		SELECT * FROM question
		WHERE user_no = #{userNo}
	</select>
	<select id="selectStuReviewList" resultType="Map">
		select r.*,
		    (select distinct m.user_id from review r, membership m where r.user_no = m.user_no and m.user_no = #{userNo}) stu_id
		, cl.user_to, m.user_name
		from review r, connected_lesson cl, membership m
		where r.conn_lesson_no = cl.conn_lesson_no 
		    and cl.user_to = m.user_no
		    and r.user_no = #{userNo}
		order by r.review_no
	</select>
	<select id="selectStuMarketList" resultType="MARKET">
		SELECT * FROM Market
		WHERE mk_writer = #{userNo}
	</select>
	
	<select id="selectTchCnt" resultType="int">
		SELECT count(*) FROM (select * from Membership
		WHERE user_actor = 1
		AND user_id LIKE '%' || #{search} || '%')	
	</select>
	<select id="selectTchList" parameterType="PAGING" resultType="MEMBERSHIP">
	  	SELECT * FROM (
	  		SELECT rownum no, t.*
	  		FROM (
			  	SELECT * FROM Membership
				WHERE user_actor = 1
				AND user_id LIKE '%' || #{search} || '%'
				ORDER BY user_no
			) t
			ORDER BY no ) x
		WHERE no between #{startNo} AND #{endNo}
	</select>
<!-- 	<select id="selectTchReviewList" resultType="Map"> -->
<!-- 		select r.*, a.user_id stu_id,  -->
<!-- 		    (select distinct m.user_id from review r, membership m where cl.user_to = m.user_no and cl.user_to=#{userNo}) tch_id -->
<!-- 		, cl.user_to, m.user_name -->
<!-- 		from review r, connected_lesson cl, membership m, (select distinct m.user_id from review r, membership m -->
<!-- 		    where m.user_no = r.user_no) a -->
<!-- 		where r.conn_lesson_no = cl.conn_lesson_no  -->
<!-- 		    and cl.user_to = m.user_no -->
<!-- 		    and cl.user_to = #{userNo} -->
<!-- 		order by r.review_no -->
<!-- 	</select> -->
	
	<!-- 내(선생님) 후기글 작성한 학생 id조회 -->
	<select id="selectTchReviewList" resultType="Map">
<!-- 		select r.*, m.user_id, c.user_to from review r -->
<!-- 		join membership m on m.user_no = r.user_no -->
<!-- 		join connected_lesson c on c.conn_lesson_no = r.conn_lesson_no -->
<!-- 		where c.user_to = #{userNo} -->
		select r.*, m.user_id, c.user_to from review r
		join membership m on m.user_no = r.user_no
		join connected_lesson c on c.conn_lesson_no = r.conn_lesson_no
		where c.user_to = #{userNo}
		AND r.review_state = 0
	</select>

</mapper>



  