<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
<!-- 	<resultMap type="REVIEW" id="review"> -->
<!-- 		<id column="review_no" property="reviewNo" /> -->
<!-- 		<result column="review_content" property="reviewContent" /> -->
<!-- 		<result column="user_no" property="userNo" /> -->
<!-- 		<result column="conn_lesson_no" property="connLessonNo" /> -->
<!-- 		<result column="review_date" property="reviewDate" /> -->
<!-- 		<result column="star_point" property="starPoint" /> -->
<!-- 		<association javaType="MEMBERSHIP" property="member"> -->
<!-- 			<id column="user_no" property="userNo"/> -->
<!-- 		</association> -->
<!-- 	</resultMap> -->

<!-- 	<resultMap type="REVIEW" id="review"> -->
		
		<!-- 1 : 다 관계의 경우 데이터 매핑시켜준다. 
			association => 1 : 1 관계 
			collection => 1 : 다 관계 (한명의 유저가 작성한 글 목록)
			일반 컬럼과 pk 구분 가능 pk 칼럼에게는 result 아닌 id 사용
		-->
<!-- 		<association javaType="MEMBERSHIP" property="member"/> -->
<!-- 		<collection resultMap="MEMBERSHIP" property="member"/> -->
<!-- 	</resultMap> -->

	<select id="selectStuList" parameterType="PAGING" resultType="MEMBERSHIP">
		  	SELECT * FROM (
	  		SELECT rownum no, t.*
	  		FROM (
			  	SELECT * FROM Membership
				WHERE user_actor = 2
				AND user_id LIKE '%' || #{search} || '%'
				ORDER BY user_no
			) t
			ORDER BY no ) x
		WHERE no between #{startNo} AND #{endNo}
  	</select>
  	
  	<select id="selectStuCnt" resultType="int">
		SELECT count(*) FROM (select * from Membership
		WHERE user_actor = 2
		AND user_id LIKE '%' || #{search} || '%')
  	</select>
	
<!-- 	<select id="selectStuCnt" resultType="int"> -->
<!-- 		SELECT count(*) FROM Membership -->
<!-- 		WHERE user_actor = 2 -->
<!-- 	</select>	 -->
<!-- 	<select id="selectStuList" resultType="MEMBERSHIP"> -->
<!-- 		SELECT * FROM Membership -->
<!-- 		WHERE user_actor = 2 -->
<!-- 		ORDER BY user_no -->
<!-- 	</select>	 -->
	<select id="selectStuDetail" resultType="MEMBERSHIP">
		SELECT * FROM Membership
		WHERE user_no = #{userno}
	</select>
	<select id="selectStuQuestionList" resultType="QUESTION">
		SELECT * FROM question
		WHERE user_no = #{userNo}
	</select>
	<select id="selectStuReviewList" resultType="Map">
<!-- 		select * from review r -->
<!-- 		join membership m on m.user_no = r.user_no -->
<!-- 		WHERE m.user_no = #{userNo} -->
		select r.*,
		    (select distinct m.user_id from review r, membership m where r.user_no = m.user_no and m.user_no = #{userNo}) stu_id
		, cl.user_to, m.user_name
		from review r, connected_lesson cl, membership m
		where r.conn_lesson_no = cl.conn_lesson_no 
		    and cl.user_to = m.user_no
		    and r.user_no = #{userNo}
		order by r.review_no
	</select>
	<select id="selectStuMarketList" resultType="MARKET">
		SELECT * FROM Market
		WHERE mk_writer = #{userNo}
	</select>
	
	<select id="selectTchCnt" resultType="int">
		SELECT count(*) FROM (select * from Membership
		WHERE user_actor = 1
		AND user_id LIKE '%' || #{search} || '%')	
	</select>
	<select id="selectTchList" parameterType="PAGING" resultType="MEMBERSHIP">
		  	SELECT * FROM (
	  		SELECT rownum no, t.*
	  		FROM (
			  	SELECT * FROM Membership
				WHERE user_actor = 1
				AND user_id LIKE '%' || #{search} || '%'
				ORDER BY user_no
			) t
			ORDER BY no ) x
		WHERE no between #{startNo} AND #{endNo}
	</select>



</mapper>



  